button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  background-color: transparent;
  color: var(--color-error);
  border-color: var(--color-error);
  border: 1px solid;
  border-radius: 6px;
  padding: 0.4rem;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
